.text-field__icon {
  position: absolute;
  inset: var(--tf-icon-position);
  /*top: 0;
  left: calc(100% - calc(var(--tf-size) * 1.5));*/
  width: var(--tf-size);
  height: calc(calc(var(--tf-size) * 1) + calc(var(--tf-size) * 0.70));
  fill: var(--tf-border-color);
}
