/* import styles for child element and other */
@import url("./_theme/textarea-field_theme_base-style.css");
@import url("./__input/textarea-field.css");
@import url("./__icon/textarea-field__icon.css");
@import url("./__maxlength-info/textarea-field__maxlength-info.css");
@import url("./_theme/textarea-field_theme_sky-blue.css");

  
.textarea-field {
  /* positioning */
  position: relative;
  margin: 0;

  /* size */
  width: 100%;
  min-height: calc(
    calc(var(--taf-size) * 3) + calc(var(--taf-size) * 0.75) + 4px
  ); /* font_size * line_height + (padding_top + padding_bottom) + (top_border_width + bottom_border_width)*/ /* font_size * line_height + (padding_top + padding_bottom) + (top_border_width + bottom_border_width)*/
  height: fit-content;
  padding: calc(var(--taf-size) * 0.375) calc(var(--taf-size) * 0.75);
  line-height: 1.5;
  border: 2px solid var(--taf-border-color);
  font-size: var(--taf-size);

  /* decoration */
  font-family: Helvetica, sans-serif;
  border-radius: var(--taf-border-radius);
  background-color: var(--taf-background-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  
/* state handling */
.textarea-field:has(.textarea-field__input:focus) {
  outline: 0;
  box-shadow: 0 0 0 calc(var(--taf-size) * 0.2) var(--taf-focus-color);
}
  
.textarea-field:has(.textarea-field__input:disabled),
.textarea-field:has(.textarea-field__input[readonly]) {
  --taf-background-color: var(--taf-disabled-background);
  --taf-border-color: var(--taf-disabled-color);
  color: var(--taf-disabled-color);
  opacity: 1;
}
  
.textarea-field:has(.textarea-field__input:user-valid) {
  --taf-border-color: var(--taf-valid-border-color);
}
  
.textarea-field:has(.textarea-field__input:focus:user-valid) {
  --taf-focus-color: var(--taf-valid-focus-color);
}
  
.textarea-field:has(.textarea-field__input:user-invalid) {
  --taf-border-color: var(--taf-invalid-border-color);
}
  
.textarea-field:has(.textarea-field__input:focus:user-invalid) {
  --taf-focus-color: var(--taf-invalid-focus-color);
}
