@import url("./_theme/text-field_theme_base-style.css");
@import url("./__input/text-field__input.css");
@import url("./__icon/text-field__icon.css");
@import url("./_theme/text-field_theme_sky-blue.css");


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0
}

.text-field {
  /* positioning */
  position: relative;
  margin: 0;
  /* size */
  width: 100%;
  height: calc(
    calc(var(--tf-size) * 1) + calc(var(--tf-size) * 0.75) + 4px
  ); /* font_size * line_height + (padding_top + padding_bottom) + (top_border_width + bottom_border_width)*/ /* font_size * line_height + (padding_top + padding_bottom) + (top_border_width + bottom_border_width)*/
  padding: calc(var(--tf-size) * 0.375) calc(var(--tf-size) * 0.75);
  line-height: 1;
  border: 2px solid var(--tf-border-color);
  font-size: var(--tf-size);
  /* decoration */
  font-family: inherit;
  border-radius: var(--tf-border-radius);
  background-color: var(--tf-background-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field_with-icon_in-right {
  padding: calc(var(--tf-size) * 0.375) calc(var(--tf-size) * 0.75 + var(--tf-size)) calc(var(--tf-size) * 0.375) calc(var(--tf-size) * 0.75);
}

.text-field_with-icon_in-left {
  padding: calc(var(--tf-size) * 0.375) calc(var(--tf-size) * 0.75) calc(var(--tf-size) * 0.375) calc(var(--tf-size) * 0.75 + var(--tf-size));
 --tf-icon-position: 0 0 0 0.375rem;
}

 
.text-field:has(.text-field__input:focus) {
   outline: 0;
   box-shadow: 0 0 0 calc(var(--tf-size) * 0.2) var(--tf-focus-color);
}
 
.text-field:has(.text-field__input:disabled),
.text-field:has(.text-field__input[readonly]) {
   --tf-background-color: var(--tf-disabled-background);
   --tf-border-color: var(--tf-disabled-color);
   color: var(--tf-disabled-color);
   opacity: 1;
}
/* state handling */

.text-field:has(.text-field__input:focus) {
  outline: 0;
  box-shadow: 0 0 0 calc(var(--tf-size) * 0.2) var(--tf-focus-color);
}

.text-field:has(.text-field__input:disabled),
.text-field:has(.text-field__input[readonly]) {
  --tf-background-color: var(--tf-disabled-background);
  --tf-border-color: var(--tf-disabled-color);
  color: var(--tf-disabled-color);
  opacity: 1;
}

.text-field:has(.text-field__input:user-valid) {
  --tf-border-color: var(--tf-valid-border-color);
}

.text-field:has(.text-field__input:focus:user-valid) {
  --tf-focus-color: var(--tf-valid-focus-color);
}

.text-field:has(.text-field__input:user-invalid) {
  --tf-border-color: var(--tf-invalid-border-color);
}

.text-field:has(.text-field__input:focus:user-invalid) {
  --tf-focus-color: var(--tf-invalid-focus-color);
}
