.select__options {
  all: unset;
  list-style-type: none;
  position: absolute;
  top: calc(calc(var(--select-size) * 1.7) + calc(var(--select-size) * 0.75) + 2px);
  left: -2px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid var(--select-border-color);
  border-radius: var(--select-border-radius);
}
