@import url(theme/default.css);
@import url(theme/select_theme_sky-blue.css);
@import url(__input/select__input.css);
@import url(__button/select__button.css);
@import url(__options/select__options.css);
@import url(__option/select__option.css);

*,
*::before,
*::after {
   box-sizing: border-box;
}

.select {
  /* positioning */
  position: relative;
  margin: 0;
  /* size */
  width: 100%;
  height: calc(calc(var(--select-size) * 1.5) + calc(var(--select-size) * 0.75) + 4px);
  padding: calc(var(--select-size) * 0.375) calc(var(--select-size) * 0.75);
  line-height: 1.5;
  border: 2px solid var(--select-border-color);
  font-size: var(--select-size);
  /* decoration */
  font-family: inherit;
  border-radius: var(--select-border-radius);
  background-color: var(--select-background-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* state handling */
.select:has(.select__input:focus) {
  outline: 0;
  box-shadow: 0 0 0 calc(var(--select-size) * 0.2) var(--select-focus-color);
}

.select:has(.select__input:disabled) {
  --select-background-color: var(--select-disabled-background);
  --select-border-color: var(--select-disabled-color);
  color: var(--select-disabled-color);
  opacity: 1;
}
